name: Watch New Grad USA and Send Email

on:
  schedule:
    - cron: "*/30 * * * *" # Runs every 30 minutes
  workflow_dispatch: # Allows manual run

jobs:
  watch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: .github/scripts
        run: npm install

      - name: Build TypeScript
        working-directory: .github/scripts
        run: npm run build

      - name: Run Watcher Script (New Jobs Filter)
        working-directory: .github/scripts
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: node build/watch-new-grad-usa.js
